
.image-container {
    position: relative;
}

img {
    position: relative;
    z-index: 1;
}

.download-icon {
    position: absolute;
    font-size: 24px;
    color: aqua;
    top: 20px;
    left: 20px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

